<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="upload-progress" th:fragment="loading">
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="pl-3 pt-2">操作中，请稍后...</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

